@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');

::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Da 2', cursive;
  font-weight: bolder;
  text-decoration: none;
  user-select: none;
  text-decoration: none;
  outline: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: url(../images/Asset1.png) #212529;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.display-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 730px;
  height: 450px;
  margin-top: 30px;
  background: #E9ECEF;
  color: #354973;
  border-radius: 35px;
  box-shadow: inset 0 0 10px #212529;
  overflow: hidden;
  z-index: 5;
}

.display-box ul{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30px;
  left: 20px;
  list-style: none;
  width: 690px;
  height: 40px;
  border-bottom: 3px solid #6C757D;
}

.display-box ul li{
  padding: 0 20px 10px 20px;
  font-size: 30px;
}

.display-box ul li #life{
  margin-left: 10px;
  font-size: 25px;
}

.display-box ul li #life i{
  margin: 0 3px;
}

.result{
  width: 530px;
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  color: #354973;
}

#game-over{
  font-size: 70px;
}

.result a{
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  color: #354973;
}

.numpad-display{
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 60px;
}

.numpad-display::before{
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 70px;
  height: 70px;
  border: 4px solid;
  border-color: transparent #ADB5BD #ADB5BD transparent;
  transform: rotate(45deg);
  border-radius: 40px;
}

.numpad-display::after{
  content: "";
  position: absolute;
  top: 75px;
  left: 38px;
  height: 35px;
  width: 60px;
  border-width: 0 0 4px 4px;
  border-style: solid;
  border-color: transparent transparent #ADB5BD #ADB5BD;
  border-bottom-left-radius: 100px;
}

.numpad-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 730px;
  height: 150px;
  font-size: 0;
}

.numpad-box>button{
  position: relative;
  background: #6C757D;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
  -webkit-text-stroke: 1px #212529;
  color: #ADB5BD;
  box-shadow:-0.2px -0.1px 0.5px #6C757D, -1.5px -0.3px 0 #4f5961,inset 2px 1.5px 5px #ADB5BDaa, 3px 2px 3px 1px #00000099;
  cursor: pointer;
  z-index: 2;
}

.numpad-box #enter{
  font-size: 45px;
}

.numpad-box>button:focus{
  background: #495057;
  box-shadow:-0.2px -0.1px 0.5px #6C757D, -1.5px -0.3px 0 #4f5961,inset 1.5px 1px 10px #00000099 ,inset -1.5px -1px 10px #79858f , 0 0 3px 1px #68727caa;
  color: #949ba3;
}

.numpad-box>button::before{
content: "";
position: absolute;
top: -44px;
left: 0;
height: 40px;
width: 40px;
border-width:4px 4px 0 0;
border-style: solid;
border-color: #ADB5BD #adb5bd transparent transparent;
border-top-right-radius: 100px;
z-index: 1;
opacity: 0.1;
cursor: default;
}

.numpad-box>button:focus::before{
  opacity: 1;
}

.numpad-box button:nth-child(1)::before{
  left: 38px;
  border-width: 4px 0 0 4px ;
  border-style: solid;
  border-color:#ADB5BD transparent transparent  #ADB5BD;
  border-top-left-radius: 100px;
  border-top-right-radius: 0;
}

.numpad-box button:nth-child(6)::before{
  display: none;
}